// === FONTS ===
$font-family: "Figtree", sans-serif;
$font-size: 16px;

// === COLORS ===
$primary-color: hsl(47, 88%, 63%);
$secondary-color: hsl(0, 0%, 100%);
$ternary-color: hsl(0, 0%, 50%);
$additional-color: hsl(0, 0%, 7%);
